body{
    height:100%;
    width: 100%;
    // background-color: white;
    // border-radius: 10px;
    // box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 5px;
}

div{
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 100%;
}