<body>
    <ul>
        <li *ngFor="let leftWord of leftWords" class="left" (click)="select($event.target, 'left', leftWord)">
            {{leftWord}}
        </li>
        <li *ngFor="let rightWord of rightWords" class="right" (click)="select($event.target, 'right', rightWord)">
            {{rightWord}}
        </li>
    </ul>
    <section id="popup">
        <main>
            <header>
                <h1>Congrats!</h1>
                <h3>Come back next week for another batch!</h3>
                <h2><a href="https://www.youtube.com/channel/UCoEnVJ_iIv5i0Fi_9dDtNUg">Visit my channel to learn more!</a></h2>
            </header>
            <footer>
                <button (click)="onRestart()">Close</button>
            </footer>
        </main>
    </section>
</body>